<div class="sidebar-top">
  <div class="header-name">
    <a href="#">Tom</a>
  </div>
  <div class="make-chat">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">room1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">room2</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">room3</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">room4</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">room5</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">room6</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">room7</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">room8</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">room9</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">room10</a>
    </div>
  </div>
</div>

