.wrapper {
  display: flex;
}

.side-bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
  padding: 0 20px;
}

.sidebar-top {
  height: 100px;
  background-color: #253141;
}

.class {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
}

.chat {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.chat-top {
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
}

.chat-middle {
  background-color: #fafafa;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
}

.chat-bottom {
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
}